# Environment variables & secrets
.env

# SQLite Database
*.db
dhvaani.db

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Operating System files
.DS_Store
Thumbs.db

# User Uploads
data/uploads/*
!data/uploads/.gitkeep

# Vercel deployment cache
.vercel

.vercel
